.container {
  max-width: 234px;
  max-height: 391px;
}

.postImagesContainer {
  height: 100%;
  max-height: 240px;
  margin-bottom: 12px;
}

.timeAgo {
  margin: 12px 0 3px;
  color: var(--color-light-900);
}

.description {
  display: inline;
  word-wrap: break-word;
}

.showMore {
  cursor: pointer;
}
