.wrapper {
  user-select: none;
  display: flex;
  column-gap: 2px;
  align-items: center;
}

.checkRoot {
  all: unset;

  cursor: initial;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;

  transition: 0.3s ;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-color: var(--color-dark-300);
    }

    &:active {
      background-color: var(--color-dark-100);
    }

    &:focus-visible {
      background-color: var(--color-dark-500);
    }


  }

  & .checkIndicatorWrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 18px;
    height: 18px;

    border: 2px solid;
    border-radius: 2px;


  }

  &:disabled {
    & .checkIndicatorWrapper {
      border-color: var(--color-light-900);
    }

    &[data-state="checked"] .checkIndicatorWrapper {
      border-color: var(--color-dark-100);
    }
  }
}


.checkIndicator {
  width: 18px;
  height: 18px;

  opacity: 0;
  background-color: var(--color-dark-900);

  transition: 0.3s ;

  &[data-state="checked"] {
    opacity: 1;

  }

  &.disabled {
    color: var(--color-dark-100);

    &[data-state="checked"] {
      background-color: var(--color-light-700);
    }
  }
}

.label {
  cursor: pointer;

  &.disabled {
    cursor: initial;
    color: var(--color-light-900);
  }
}