.card {
  width: 100%;
  max-width: 378px;
  margin-top: 72px;
}

.form {
  display: grid;
  justify-items: center;
  padding: 24px;

  & > * {
    width: 100%;
  }
}

.info {
  margin: 6px 0 18px;
}

.title {
  margin-bottom: 37px;
  text-align: center;
}

.instructions {
  margin: 7px 0 17px;
  color: var(--color-light-900);
}

.button {
  margin-bottom: 24px;
}

.modalContent {
  display: grid;
  row-gap: 18px;
  padding: 30px 24px 36px;

  & :last-child {
    justify-self: end;
    max-width: min-content;
    padding: 6px 36px;
  }
}
.recaptcha {
  margin: 6px 0 18px;
}