.card {
  max-width: 408px;
  margin-top: 36px;
}

.form {
  padding: 23px 24px 36px;
}

.title {
  margin-bottom: 37px;
  text-align: center;
}

.newPasswordInput {
  margin-bottom: 24px;
}

.instructions {
  margin: 7px 0 41px;
  color: var(--color-light-900);
}

.buttonSubmit {
  width: 100%;
}
