.comments {
  scrollbar-width: none;

  overflow: auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  height: 100%;
  margin-top: 15px;
  padding: 0 20px;
}

.commentWrapper {
  display: flex;
  column-gap: 12px;
  justify-content: space-between;
  margin-top: 10px;
}

.comment {
  display: flex;
  column-gap: 12px;
}

.commentInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;

  margin-top: 2px;

  :last-child {
    cursor: pointer;
  }

  p {
    color: var(--color-light-900);
  }
}

.commentLike {
  cursor: pointer;
  padding-top: 15px;

  > svg {
    width: 16px;
    height: 16px;
  }
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 40px;

  button {
    margin-left: auto;
    font-size: var(--font-size-s);
  }
}

.commentsWithAnswers {
  .answers {
    margin: 10px auto 0 42px;

    p {
      cursor: pointer;
      margin-left: 6px;
      color: var(--color-light-900);
    }
  }
}
