.linkWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-left: 44px;

  padding: 0;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.text {
  max-width: 960px;
  margin: 24px auto;
  padding: 0 10px;
  text-align: center;
}
