.wholeList {
  width: 972px;
  margin: 60px 25px;
}

.searchSelect {
  display: flex;
  justify-content: space-between;
}

.selectWidth {
  width: 234px;
}

.searchWidth {
  width: 644px;
}

.list {
  margin: 25px 0 35px;
}

.pagination {
  display: flex;
  justify-content: flex-start;
}

.actionMenu {
  position: relative;
}

.gap {
  margin-left: 5px;
}
