.main {
  display: flex;
  align-items: start;
  justify-content: center;

  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.privacyPolicy {
  display: block;
  height: auto;
  padding: 24px 60px;
}
