.main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 60px auto 0;
  padding: 0 60px;
}

.mainIsAuth {
  align-items: stretch;
  justify-content: flex-start;
}
