.triggerButton {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.messagesCount {
  position: absolute;
  top: 5px;
  left: 11px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 13px;
  height: 13px;

  font-size: 10px;
  line-height: 8px;
  color: var(--color-light-100);

  background: var(--color-danger-500);
  border-radius: 50%;
}
