.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--color-light-900);
}

.textarea {
  resize: none;

  width: 100%;
  padding: 6px 12px;

  background-color: transparent;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  &::placeholder {
    color: var(--color-light-900);
  }

  &:disabled {
    pointer-events: none;
    border-color: var(--color-dark-100);

    &::placeholder {
      color: var(--color-dark-100);
    }
  }

  &:hover {
    border-color: var(--color-light-900);
  }

  &:active {
    border-color: var(--color-light-100);

    &::placeholder {
      color: var(--color-light-100);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-500);
  }
}

.error {
  color: var(--color-danger-500);
}

.errorTextArea {
  border-color: var(--color-danger-500);
}

.wrapper:has(input:disabled) {
  color: var(--color-dark-100);

  & .label {
    pointer-events: none;
    color: var(--color-dark-100);
  }
}
