button {
  all: unset;
}

.DialogOverlay {
  position: fixed;
  inset: 0;
  opacity: 0.5;
  background-color: var(--color-dark-900);
}

.DialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 300px;

  background-color: var(--color-dark-300);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  color: var(--color-light-100);
}

.IconButton {
  width: 18px;
  height: 18px;

  font-family: inherit;
  color: var(--color-light-100);

  border-radius: 100%;
}

.IconButton:hover {
  background-color: var(--color-dark-500);
  transition: 10ms ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 25px;
  border-bottom: 1px solid var(--color-dark-100);
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
