.button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 0.375rem 1.5rem;

  font: var(--font-family-primary);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-m);
  text-align: center;
  text-decoration: none;

  background: transparent;
  border: none;
  border-radius: 0.125rem;
  outline: 2px solid transparent;

  &:disabled {
    cursor: initial;
  }
}

.primary {
  color: var(--color-light-100);
  background-color: var(--color-accent-500);

  &:active {
    background-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-100);
  }

  &:focus-visible {
    background-color: var(--color-accent-500);
    outline: 2px solid var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  color: var(--color-light-100);
  background-color: var(--color-dark-300);

  &:active {
    background-color: #212121;
  }

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:focus-visible {
    background-color: var(--color-dark-300);
    outline: 2px solid var(--color-accent-300);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-500);
  }
}

.outlined {
  color: var(--color-accent-500);
  outline: 1px solid var(--color-accent-500);

  &:active {
    color: var(--color-accent-700);
    outline: 1px solid var(--color-accent-700);
  }

  &:hover {
    color: var(--color-accent-100);
    outline: 1px solid var(--color-accent-100);
  }

  &:focus-visible {
    color: var(--color-accent-700);
    outline: 2px solid var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    outline: 1px solid var(--color-accent-900);
  }
}

.text {
  color: var(--color-accent-500);

  &:active {
    color: var(--color-accent-700);
  }

  &:hover {
    color: var(--color-accent-100);
  }

  &:focus-visible {
    color: var(--color-accent-500);
    outline: 2px solid var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.fullWidth {
  width: 100%;
}
