.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.iconWrapper {
  position: relative;
}

.label {
  color: var(--color-light-900);
}

.input {
  width: 100%;
  padding: 6px 12px;

  background-color: transparent;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  &::placeholder {
    color: var(--color-light-900);
  }

  &:disabled {
    pointer-events: none;
    border-color: var(--color-dark-100);

    &::placeholder {
      color: var(--color-dark-100);
    }
  }

  &:hover {
    border-color: var(--color-light-900);
  }

  &:active {
    border-color: var(--color-light-100);

    &::placeholder {
      color: var(--color-light-100);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-500);
  }
}

.button {
  all: unset;

  position: absolute;
  right: 12px;
  bottom: 50%;
  transform: translateY(50%);

  display: flex;
}

.error {
  color: var(--color-danger-500);
}

.errorInput {
  border-color: var(--color-danger-500);
}

.passwordInput {
  padding-right: 41px;
}

svg *[fill] {
  fill: var(--color-light-100);
}

.wrapper:has(input:disabled) {
  & .label {
    pointer-events: none;
    color: var(--color-dark-100);
  }

  & .button {
    pointer-events: none;

    svg *[fill] {
      fill: var(--color-dark-100);
    }
  }
}
