.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 24px;
  padding: 12px 24px;
}

.totalUsersCard {
  display: flex;
  padding: 8px 12px 10px;
  background-color: var(--color-dark-700);
}

.digitContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 3px 2px 0;
}

.digitContainer + .digitContainer {
  padding-left: 3px;
  border-left: 1px solid var(--color-dark-300);
}

.digit {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
}
