.textBtn {
  margin-top: 55px;
}

.PaypalIcon {
  position: absolute;
  right: 200px;
  display: inline-block;
}

.PaypalOriginal {
  position: absolute;
  top: 3px;
  right: 200px;

  overflow: hidden;
  display: flex;
  justify-content: center;

  width: 100px;

  opacity: 0.001;
  border: 1px solid;
}
