.wrapper {
  width: 100%;
  max-width: 378px;
  padding: 23px 24px 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .forgotPassword {
    align-self: flex-end;
    color: var(--color-light-900);
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: var(--color-light-100);
    }
  }
}

.fullWidth {
  align-self: stretch;
}

.mainMargin {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 13px;
  text-align: center;
}

.iconWrapper {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.emailTextField,
.passwordTextField {
  gap: 0;
}

.passwordTextField {
  margin-bottom: 36px;
}

.signInButton {
  margin-bottom: 18px;
}

.signUpQuestion {
  margin-bottom: 6px;
}
