.aside {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 72px 60px 36px 0;

  border-right: 1px solid var(--color-dark-300);
}

.text {
  margin-bottom: 15px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}
