.infoWrapper {
  display: flex;
  gap: 38px;
}

.profieWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.userNameWrapper {
  display: flex;
  justify-content: space-between;
}

.followInfoList {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style-type: none;
}
