.sidebar {
  position: fixed;
  top: 60px;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 220px;
  height: calc(100vh - 60px);
  padding: 72px 49px 110px 60px;

  border-right: 1px solid var(--color-dark-300);
}

.mainItems {
  margin-bottom: 60px;
  padding: 0;
}

.secondaryItems {
  padding: 0;
}
