.datepicker {
  width: 300px;
  height: 348px;
  padding: 15px 20px;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
}

.button_next,
.button_prev {
  width: 36px;
  height: 36px;

  background-color: var(--color-dark-100);
  border: 2px solid transparent;
  border-radius: 50%;
  outline: none;

  & svg {
    width: 20px;
    height: 20px;
    fill: #d9d9d9; /* Цвет стрелок */
  }
}

.caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caption_label {
  position: relative;
  z-index: 1;

  display: inline-flex;
  align-items: center;

  margin-left: 10px;

  font-size: var(---font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 24px;
  color: var(--color-light-100);
  text-transform: capitalize;
  white-space: nowrap;

  border: 0;
}

.month_caption {
  padding-left: 10px;
}

.day {
  width: 36px;
  height: 36px;
  padding: 0;

  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
  text-align: center;

  border-radius: 50%;

  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--color-accent-700);
  }

  &.active {
    background-color: var(--color-accent-900);
  }

  &.day_disabled {
    color: var(--color-light-900);
  }

  &.day_hidden {
    visibility: hidden;
  }

  &.day_outside {
    color: var(--color-light-900);

    &[aria-selected] {
      background-color: (var(--color-accent-900));
      border-radius: 50%;
    }
  }

  &.day_range_end,
  &.day_range_start,
  &.day_range_middle {
    background-color: var(--color-accent-900);
    border-radius: 0;
  }

  &.day_selected {
    background-color: var(--color-accent-900);
    border: 0;
  }

  &.day_today {
    font-weight: var(--font-weight-bold);
    line-height: 1.5rem;
    color: var(--color-accent-500);

    &:hover {
      color: var(--color-accent-100);
    }

    &[aria-selected] {
      color: var(--color-light-100);
    }
  }
}

.weekday {
  margin: 12px 0;
  padding: 0;

  font-size: var(---font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-light-900);
}

.month_grid {
  thead th {
    padding: 12px 0; /* Отступ между заголовком и телом */
  }
}

.nav {
  gap: 0.25rem;
}

.nav_button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.25rem;
  height: 2.25rem;

  background-color: var(--color-success-700);
  border: 2px solid transparent;
  border-radius: 50%;
  outline: none;

  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;

  &:hover {
    background-color: var(--color-danger-300);
  }

  &:active {
    background-color: var(--color-warning-500);
  }

  &:focus-visible {
    border-color: var(--color-accent-500);
  }
}

.month {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.months {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.weekend {
  color: var(--color-danger-300);
}
