.container {
  display: flex;
  max-height: 562px;
}

.postDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.userInfoContainer {
  padding: 11px 24px 12px;
  border-bottom: 1px solid var(--color-dark-100);
}
