.comments {
  scrollbar-width: none;

  overflow: auto;
  display: flex;
  flex-direction: column;

  height: 100%;
  margin: 15px 20px 15px 20px;
}

.commentWrapper {
  display: flex;
  column-gap: 12px;
  justify-content: space-between;
  margin-top: 10px;
}

.comment {
  display: flex;
  column-gap: 12px;
}

.commentInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;

  margin-top: 2px;

  :last-child {
    cursor: pointer;
  }

  p {
    color: var(--color-light-900);
  }
}

.commentLike {
  cursor: pointer;
  padding-top: 15px;

  > svg {
    width: 16px;
    height: 16px;
  }
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 40px;

  button {
    margin-left: auto;
    font-size: var(--font-size-s);
  }
}
.answers {
  margin: 10px auto 0 42px;
}

.showAnswer{
  cursor: pointer;
  margin-left: 6px;
  color: var(--color-light-900);
}

.commentWrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 10px;
}
.modal{
  padding: 30px;
  height: 150px;
  width: 400px;
}

.avatar{
  flex: 0 0 auto;
}

.leftBlock {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.username,
.content {
  display: inline;
}

.textComment {
  display: block;
}

.username {
  white-space: nowrap;
}

.content {
  word-break: break-word;
}
.comment{
  display: flex;
  flex-direction: column;
}

.commentInfo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  p {
    color: var(--color-light-900);
  }
}

