.container {
  display: flex;
  gap: 12px;
}

.container + .container {
  margin-top: 15px;
}

.avatar {
  margin-top: 5px;
}

.userName {
  float: left;
  margin-right: 5px;
}

.userAndComment {
  display: inline-block;
  width: 100%;
  max-width: 385px;
}

.comment {
  display: inline;
  word-wrap: break-word;
}

.timeAgo {
  margin-top: 5px;
  color: var(--color-light-900);
}

.answers {
  position: relative;
  margin-top: 8px;
  margin-left: 36px;
  color: var(--color-light-900);

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: -12px;
    transform: translateX(-100%);

    width: 24px;
    height: 1px;

    background-color: var(--color-light-900);
  }
}
