.card {
  width: 100%;
  max-width: 378px;
  padding: 23px 24px 24px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input {
    width: 100%;
  }

  .inputUserName,
  .inputEmail,
  .inputPassword {
    margin-bottom: 24px;
  }

  .error {
    margin-bottom: 0;
  }

  .checkBox {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 12px 0;
  }

  .signInQuestion {
    margin: 18px 0 12px;
  }
}

.iconWrapper {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin: 13px 0 24px;
}

.buttonOk {
  align-self: flex-end;
}

.modalContentContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 30px 24px 36px;
}

.modal {
  width: 100%;
  max-width: 378px;
}
