.item {
  padding: 6px 12px;

  &.small {
    padding: 0 6px;
    font-size: var(--font-size-s);
  }

  &:hover,
  &[data-highlighted] {
    color: var(--color-accent-500);
    background-color: var(--color-dark-300);
    outline: none;
    transition: 0.2s;
  }
}
