.container {
  width: 100%;
  padding: 13px 24px 25px;
  border-top: 1px solid var(--color-dark-100);
}

.avatarsWithLikes {
  display: flex;
  gap: 12px;
}

.avatarsContainer {
  direction: rtl;
  display: flex;
}

.avatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -9px;
}

.date {
  margin-top: 5px;
  color: var(--color-light-900);
}
