.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  border-top: 1px solid var(--color-dark-100);
}

.iconsWrapper {
  display: flex;
  gap: 20px;
}
.withMessage {
  padding: 10px 0;
  border: none;
}